* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #e5e7eb 1px;
    gap: 10px;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 1;

}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid #e5e7eb 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #f9fafb;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s4 {
    display: none;
}


/* My learning popup */
.my-learning {
    position: relative;
    cursor: pointer;
}

.my-learning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;


}

.my-learning:hover .my-learning__popup {
    display: block;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid #e5e7eb 1px;
    justify-content: space-around;
}

.categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: #A435F0 solid 1px;

}

.categories p:hover {
    transition: 2s;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: #A435F0 solid 1px;
}

.sale-image {
    position: relative;
}

.sale-image img {
    width: 100%;
}

.sale-image__offer {

    width: 35%;
    background-color: white;
    padding: 2%;
    border: solid black 1px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;


}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* top and bottom 32 */
/* left and right 10 */
.recommended {
    padding: 32px 10px;

}

.recommended__container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    overflow: hidden;
}

.course-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
}

.course-card p {
    padding-left: 10px;
}

/* top and bottom 32 */
/* left and right 10 */
.topics {
    padding: 32px 10px;

}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

/* top and bottom 32 */
/* left and right 10 */
.popular {
    padding: 32px 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;

}

/* changing colors to smoothen */
.footer {
    padding: 30px;
    background-color: #111827;
    color: #d1d5db;
}

/* added this hover extra */
.footer p:hover {
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
    align-items: center;
}

.footer__two {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

/* media queries */

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    .course-card {
        flex-basis: 40%;
    }

    .categories {
        display: none;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar__s4{
        display: block;
    }

}